/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #608079; color: #fff; text-shadow: none; }
::selection { background: #608079; color: #fff; text-shadow: none; }

a { color:#608079; }
a:visited { color:#608079; }
a:hover { color:#818C3B; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


body {
  background:#EDEBE1;
  font-size:10px;
  color:#534741;
  font-family:georgia;
}

/* Layout */

.wrapper {

}

section {
  padding:110px 4em 0;
  overflow: hidden;
}

section img {
  background:#E0DCC7; 
  padding:1%;
  border-radius:3px;
}

footer {
  padding:4em;
  font-size:1.4em;
}

footer img {float:right;}


.full {
  width:auto;
  padding:2.5% 0;
}

.half {
  width:45%;
  float:left;
  padding:2.5%;
}

.third {
  width:29%;
  float:left;
  padding:2%;
}


a.btn {
  font-family:cabin, sans-serif;
  background:#85AFA3;
  color:#FFF;
  padding:0.5em 2em;
  display: inline-block;
  border-radius:3px;
  text-decoration:none;
  text-transform:uppercase;
  margin-bottom:1em;
}

.btn:hover {
  background:#818C3B;
  color:#fff;
}


/* Typography */

h1,h2,h3,h4,h5,h6 {
  margin:0;
}

h1,h2 {
  font-family:copse, serif;
  font-weight:normal;
  text-align:center;
  line-height:100%;
  color:#608079;
}

h1 {font-size:7.2em;}
h2 {font-size:4.2em;}
h3 {font-size:2.4em;}
h4 {font-size:2.1em;}

h3, nav a {
  font-family:cabin, sans-serif; 
  text-transform:uppercase;
  color:#818C3B;
}

p {
  font-size:1.8em; 
  margin:0.5em 0 1.5em; 
  line-height:150%;
}

blockquote {
  border-left:10px solid #E0DCC7;
  padding-left:3em;
  margin:0;
}

nav, hgroup {
  border:solid #E0DCC7;
  border-width:10px 0;
  background:#EDEBE1;
}

hgroup {
  text-align:center;
}
  
  hgroup h2 {
    margin:0.2em 0;
  }

  hgroup h4 {
    font-family:georgia;
    text-transform:lowercase;
    font-style:italic;
    font-weight:normal;
    margin:0 0 0.7em;
    color:#85AFA3;
  }


/* Header */

#bunting {
  width:100%;
  position:fixed;
  top:0px;
  left:0;
  background:url('../img/bg-bunting.png') repeat-x center top;
  text-align:center;
  height:100px;
}

#badge {
  opacity:0.9;
  width:60px;
  height:60px;
  display: block;
  margin: 35px auto 0;
  background:url('../img/bg-badge.png') no-repeat top;


}

#badge:hover{
  opacity:1;
}

#badge:focus {
  outline:0;
}

#badge img {
    -moz-transition-property: opacity;  
     -moz-transition-duration: 0.2s;  
     -moz-transition-timing-function: ease-in;
     -webkit-transition-property: opacity;  
     -webkit-transition-duration: 0.2s;  
     -webkit-transition-timing-function: ease-in;
  }

#badge:hover img {
  opacity:0;
}

nav {margin:110px 4em 4em;}

nav ul {
  text-align:center;
}

nav li {
  display:inline-block;
}

nav a {
  font-size:1.8em;
  text-decoration:none;
  padding:10px 20px;
  display:inline-block;
}

nav a:hover {
  background:#fff;
}


nav a, a.btn {
      -moz-transition-property: background;  
     -moz-transition-duration: 0.2s;  
     -moz-transition-timing-function: ease-in;
     -webkit-transition-property: background;  
     -webkit-transition-duration: 0.2s;  
     -webkit-transition-timing-function: ease-in;
     }


/* Banner */

#banner {
  background:url('../img/bg-sketch.png') no-repeat center top;
  height:525px;
  padding-top:0;
}

#banner h1 {
  text-transform:uppercase;
  width:100%;
}

  #banner h1 span {
    color:#85AFA3;
  }

  #banner h1 em {
    color:#818C3B;
    font-size:0.75em;
    font-style:normal;
  }

  #banner h1 time {
    font-size:0.5em;
    font-family:cabin, sans-serif;
    line-height:50%;
  }

  .fb-like {margin:0 auto;   position:relative; top:413px;}

/* Our Story */

#story .half {
  float:none;
  margin:0 auto; 
  width:560px;
}

#story img {
  width:45%;
  margin:0% 0% 5%;
  display:block;
}

#story p:first-child:first-letter {
  font-size:2em;
}

#story p {font-size:2.1em; text-align: justify; clear: left;}

#snap1, #snap3, #snap5 {float:left;}

#snap2, #snap4, #snap6 {float:right;}


/* Wedding Party */

#party h3 {
  clear:both;
}

#party img {
  float:left;
  clear: both;
  margin-right:1em;
  max-width:20%;
}

#party .main img {
  max-width:40%;
}

.bio {
  margin-top:1em;
  float:left;
  width:100%;
}

.bio p {font-size:1.6em;}

.main p {font-size:1.8em;}



/* Wdding Day */

#day img {
  width:28%; 
  margin:1.5%; 
  float:left;
}


/* Honeymoon */

#honeymoon .half img {
  max-width:45%; 
  margin:1.5%; 
  float: left;
}

#honeymoon .full img {
  max-width:20%; 
  margin:1.5%; 
  float: left;
}

.ie7 #honeymoon .full img {
  max-width:20%; 
  margin:0.75%; 
  float: left;
}


@media only screen and (max-width:700px) {
  body {font-size:9px;}
  h1 {font-size:5.4em;}  
  .half, .third {width:auto;}
  #story .half {width:auto;}
}


@media only screen and (max-width:480px) {
  body {font-size:8px;}
  h1 {font-size:4.2em;}  
  section {padding:110px 2em 0;}
  nav {margin:110px 2em 2em;}
}

@media only screen and (max-width:320px) { 
  nav {display: none;}
  nav a {display:block; padding:5px 10px;}
  nav li {display:block; float:none;}
  #banner {margin-top:80px;}
}


@media only screen and (max-width:480px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5) , only screen and (min--device-pixel-ratio: 1.5)  { 

  #bunting {background-size:597px 45px; }
  #badge {background-size:40px; margin-top:20px;}
  #badge, #badge img { width:40px; height:40px;}
  #banner {background-size:699px 263px; height:260px; background-position:center 0px;}
  section {padding-top:65px;}
  nav {margin-top:65px;}
  footer {padding:2em;}
  footer img {width:78px;}

  .dsq-comment-message p {font-size:1.2em;}

}


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
